p{color: brown; background-color: rgb(53, 53, 50); font-size: 20px;}
h3{background-color: chocolate; font-family: sans-serif; font-size: 30px; border-radius: 5px;} 
/*45uewyrtfheuigy
ftiper
fewrtidrtgf
dsgdfjog*/
h2.new {color: rgb(15, 1, 1); border-radius: 5px;}
/* fghdf */
p{font-family: 'Inspiration', cursive;}
.p1{border:2px solid red; border-radius: 15px;}
a:visited{color: gray  ;}